{% extends 'core/base.html' %}

{% block title %}Detalles de la Cotización{% endblock %}

{% block content %}
<h2>Detalles de la Cotización</h2>
<p>Cliente: {{ object.cliente }}</p>
<p>Paquete: {{ object.paquete }}</p>
<p>Transportista: {{ object.transportista }}</p>
<p>Distancia: {{ object.distancia_km }} km</p>
<p>Precio por km: {{ object.precio_por_km }}</p>
<p>Total: {{ object.total }}</p>
<a href="{% url 'cliente:cotizacion_update' object.pk %}">Editar</a>
<a href="{% url 'cliente:cotizacion_delete' object.pk %}">Eliminar</a>
{% endblock %}