{% extends 'core/base.html' %}

{% block title %}Lista de Cotizaciones{% endblock %}

{% block content %}
<h2 style="text-align: center;">Lista de Cotizaciones</h2>
<div style="text-align: center;">
<a href="{% url 'cliente:cotizacion_create' %}"><button>Crear nueva Cotización</button></a>
</div>
<ul>
    {% for cotizacion in object_list %}
    <li>
        Usuario: {{ cotizacion.Usuario }} -
        Paquete: {{ cotizacion.paquete.descripcion }} -
        Transportista: {{ cotizacion.transportista.nombre }} -
        Total: {{ cotizacion.total }}
        <a href="{% url 'cliente:cotizacion_update' cotizacion.pk %}">Editar</a>
        <a href="{% url 'cliente:cotizacion_detail' cotizacion.pk %}">Detalles</a>
        <a href="{% url 'cliente:cotizacion_delete' cotizacion.pk %}">Eliminar</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}
