{% extends 'core/base.html' %}

{% block title %}Lista de Fletes{% endblock %}

{% block content %}
<h2 style="text-align: center;">Lista de Fletes</h2>
<div style="text-align: center;" >
<a href="{% url 'cliente:flete_create' %}"><button>Crear nuevo Flete</button></a>
</div>
<ul>
    {% for flete in object_list %}
    <li>
        {{ flete.usuario }} - {{ flete.descripcion }} - Precio: {{ flete.precio }}
        <a href="{% url 'cliente:flete_update' flete.pk %}">Editar</a>
        <a href="{% url 'cliente:flete_detail' flete.pk %}">Detalles</a>
        <a href="{% url 'cliente:flete_delete' flete.pk %}">Eliminar</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}