{% extends 'core/base.html' %}

{% block title %}Lista de Fletes{% endblock %}

{% block content %}
<h2>Lista de Fletes</h2>
<a href="{% url 'cliente:flete_create' %}">Crear nuevo Flete</a>
<ul>
    {% for flete in object_list %}
    <li>
        {{ flete.usuario }} - {{ flete.descripcion }} - Precio: {{ flete.precio }}
        <a href="{% url 'cliente:flete_update' flete.pk %}">Editar</a>
        <a href="{% url 'cliente:flete_detail' flete.pk %}">Detalles</a>
        <a href="{% url 'cliente:flete_delete' flete.pk %}">Eliminar</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}