{% extends 'core/base.html' %}

{% block title %}Lista de Transportistas{% endblock %}

{% block content %}
<h2>Lista de Transportistas</h2>
<a href="{% url 'cliente:transportista_create' %}"><button>Crear nuevo Transportista</button></a>
<ul>
    {% for transportista in object_list %}
    <li>
        Transportista: {{ transportista.nombre }} - {{ transportista.apellido }}  - Licencia: {{ transportista.licencia }}
        <a href="{% url 'cliente:transportista_update' paquete.pk %}">Editar</a>
        <a href="{% url 'cliente:transportista_detail' paquete.pk %}">Detalles</a>
        <a href="{% url 'cliente:transportista_delete' paquete.pk %}">Eliminar</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}